# Environment
.env
venv/

# Python
*.pyc
*.swp
__pycache__
.ipynb_checkpoints/
.pylintrc

# Data
output/
data/

# Temp files
temp/
old/
junk*

# Test
.coverage
.cache
.hypothesis

# Other repos
phenomismatch/

# Editors
.idea/
.ropeproject/
*~

# Julia
julia/
*.toml

# R
.Rhistory
.RData
