# Environment
.env
venv/

# Python
*.pyc
*.swp
__pycache__
.ipynb_checkpoints/

# Data

output/*
data/temp/*

!data/raw/.gitkeep

data/raw/bbs/*
!data/raw/bbs/.gitkeep

data/raw/maps/*
!data/raw/maps/maps_codes.py
!data/raw/maps/.gitkeep

data/raw/ebird/*
!data/raw/ebird/target_birds.csv
!data/raw/ebird/ebird_codes.csv
!data/raw/ebird/.gitkeep

data/raw/pollard/*
!data/raw/pollard/.gitkeep

data/raw/naba/*
!data/raw/naba/.gitkeep

data/interim/*
!data/interim/.gitkeep

data/processed/*
!data/processed/.gitkeep

data/external/maps/*
!data/external/maps/.gitkeep

# Docs

# Temp files
temp/
backup/
junk*

# Test
.coverage
.cache
.hypothesis

# Other repos
phenomismatch/

# Editors
.ropeproject/
*~

# Julia
julia/
*.toml

# R
.Rhistory
.RData
