et-xmlfile==1.0.1
jdcal==1.4
mock==2.0.0
numexpr==2.6.9
numpy==1.16.2
openpyxl==2.6.1
pandas==0.24.2
pbr==5.1.3
psycopg2==2.7.7
psycopg2-binary==2.7.7
python-dateutil==2.8.0
pytz==2018.9
simpledbf==0.2.6
six==1.12.0
SQLAlchemy==1.3.1
tables==3.5.1
xlrd==1.2.0
