et-xmlfile==1.0.1
jdcal==1.4
numexpr==2.6.8
numpy==1.15.1
openpyxl==2.5.7
pandas==0.23.4
psycopg2==2.7.5
psycopg2-binary==2.7.5
python-dateutil==2.7.3
pytz==2018.5
simpledbf==0.2.6
six==1.11.0
SQLAlchemy==1.2.12
tables==3.4.4
xlrd==1.1.0
