et-xmlfile>=1.0.1
jdcal>=1.4
numpy>=1.16.0
openpyxl>=2.5.14
pandas>=0.24.0
psycopg2>=2.7.7
psycopg2-binary>=2.7.7
python-dateutil>=2.7.5
pytz>=2018.9
simpledbf>=0.2.6
six>=1.12.0
SQLAlchemy>=1.2.17
xlrd>=1.2.0
